
    <div class="container play-container">
        <div class="row">
            <div class="play-video">
                <video controls autoplay>
                    <source src="/assets/video/ربنا إنك جامع الناس ليوم لا ريب فيه ..} - عبدالرحمن مسعد ❣️.mp4"
                        type="video/mp4">
                </video>


                <div class="tags">
                    <a href=""> #عبدالرحمن مسعد</a> <a href=""> #تلاوه رائعه</a> <a href=""> #ربنا انك جامع الناس ليوم
                        لا ريب فيه</a>
                </div>
                <h3> ربنا إنك جامع الناس ليوم لا ريب فيه عبدالرحمن مسعد ❣️</h3>
                <div class="play-video-info">
                    <p>15k views &bull; 2 days ago</p>
                    <div>
                        <a href=""> <img src="/assets/img/like.png">15k</a>
                        <a href=""> <img src="/assets/img/dislike.png">0</a>
                        <a href=""> <img src="/assets/img/share.png">share</a>
                        <a href=""> <img src="/assets/img/save.png">save</a>
                    </div>
                </div>
                <hr>



                <div class="publisher">
                    <img src="/assets/img/artworks-fSWuEsOX4K2jmuGG-CdG2fw-t500x500.jpg">
                    <div class="abelrahmanmossad">

                        <p class="p1">عبدالرحمن مسعد</p>
                        <span>500k Subscribers</span>
                    </div>
                    <button type="button">Subscribe</button>
                </div>

                <div class="vid-description">
                    <p>ربنا إنك جامع الناس ليوم لا ريب فيه عبدالرحمن مسعد تلاوه هادئه</p>
                    <p>ان في القرأن لشفاء للقلوب</p>

                    <hr>
                    <h4> 134 Comments</h4>
                    <div class="add-comment">
                        <img src="/assets/img/artworks-fSWuEsOX4K2jmuGG-CdG2fw-t500x500.jpg">
                        <input type="text" placeholder="write comments...">
                    </div>
                    <div class="old-comment">
                        <img class="jack" src="/assets/img/Jack.png">
                        <div>
                            <h3>ahmed mohamed <span>2 days ago</span></h3>
                            <p>اللهم صل وسلم على نبينا محمد وعلى آله وصحبه أجمعين</p>
                            <div class="acomment-action">
                                <img src="/assets/img/like.png">
                                <span>2440</span>
                                <img src="/assets/img/dislike.png">
                                <span>0</span>
                                <span>REPLY</span>
                                <a href="">All replies</a>
                            </div>
                        </div>
                    </div>
                    <div class="old-comment">
                        <img class="jack" src="/assets/img/jhon.jpg">
                        <div>
                            <h3>hussien mohamed <span>2 days ago</span></h3>
                            <p>اللهم صل وسلم على نبينا محمد وعلى آله وصحبه أجمعين</p>
                            <div class="acomment-action">
                                <img src="/assets/img/like.png">
                                <span>2440</span>
                                <img src="/assets/img/dislike.png">
                                <span>0</span>
                                <span>REPLY</span>
                                <a href="">All replies</a>
                            </div>
                        </div>
                    </div>
                    <div class="old-comment">
                        <img class="jack" src="/assets/img/jhon.jpg">
                        <div>
                            <h3>hussien mohamed <span>2 days ago</span></h3>
                            <p>اللهم صل وسلم على نبينا محمد وعلى آله وصحبه أجمعين</p>
                            <div class="acomment-action">
                                <img src="/assets/img/like.png">
                                <span>2440</span>
                                <img src="/assets/img/dislike.png">
                                <span>0</span>
                                <span>REPLY</span>
                                <a href="">All replies</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>










            <div class="right-sidebar">
                <div class="side-video-list">
                    <a routerLink="/يا-عبادي-الذين-امنو-ان-ارضي-واسعه" class="small-thumbnail"><img src="/assets/img/sddefault.jpg"></a>
                    <div class="vid-info">
                        <a routerLink="/يا-عبادي-الذين-امنو-ان-ارضي-واسعه">يا عِبادِيَ الَّذينَ آمَنوا إِنَّ أَرضي واسِعَةٌ فَإِيّايَ فَاعبُدونِ - عبد الرحمن
                            مسعد </a>
                        <p>we hope you enjoyed with vidtube</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a routerLink="/واصبر-علي-ما-يقولون" class="small-thumbnail"><img src="/assets/img/EUZjPRiXYAIXjQ6.jpg"></a>
                    <div class="vid-info">
                        <a routerLink="/واصبر-علي-ما-يقولون">واصبر على ما يقولون واهجرهم هجراً جميلا </a>
                        <p>we hope you enjoyed with vidtube</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a routerLink="/لا-تحزن-ان-الله-معنا" class="small-thumbnail"><img src="/assets/img/maxresdefault.jpg"></a>
                    <div class="vid-info">
                        <a routerLink="/لا-تحزن-ان-الله-معنا">لاتحزن ان الله معنا | احدث تلاوات القارئ عبدالرحمن مسعد #الا_رسول_الله </a>
                        <p>we hope you enjoyed with vidtube</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a routerLink="/سوره-العنكبوت-كامله" class="small-thumbnail"><img src="/assets/img/hqdefault.png"></a>
                    <div class="vid-info">
                        <a routerLink="/سوره-العنكبوت-كامله">سورة العنكبوت كاملة عبدالرحمن مسعد صوت عذب | HD | </a>
                        <p>we hope you enjoyed with vidtube</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a  routerLink="/أفرأيت-الذي-كفر-باياتنا" class="small-thumbnail"><img src="/assets/img/222.png"></a>
                    <div class="vid-info">
                        <a  routerLink="/أفرأيت-الذي-كفر-باياتنا">عبد الرحمن مسعد. ( أفرأيت الذي كفر بآياتنا وقال لأوتين مالا وولدا) </a>
                        <p>we hope you enjoyed with vidtube</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a routerLink="/سوره-المؤمنون" class="small-thumbnail"><img src="/assets/img/3333.jpg"></a>
                    <div class="vid-info">
                        <a routerLink="/سوره-المؤمنون">من روائع تلاوات القارئ عبدالرحمن مسعد | ما تيسر من سورة المؤمنون | Surat
                            Al-Mu'minūn</a>
                        <p>we hope you enjoyed with vidtube</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>