
    <!----- nav------->
    <nav class="flex-nav">
        <div class="nav-left flex-nav">
            <img src="/assets/img/menu.png" class="menu-icon">
            <a routerLink="/home">   <img src="/assets/img/logo.png" class="logo"> </a>
        </div>
        <div class="nav-middle flex-nav">
            <div class="search-box flex-nav">
                <input type="text" placeholder="Search">
                <img src="/assets/img/search.png">
            </div>
            <img src="/assets/img/voice-search.png" class="voice-icon">
        </div>
        <div class="nav-right flex-nav">
            <img src="/assets/img/upload.png">
            <img src="/assets/img/more.png">
            <img src="/assets/img/notification.png">
            <img src="/assets/img/jhon.jpg" class="user-icon">
        </div>
    </nav>
    
    <!------light mode and dark mode---->
    
    <div class="darkmode">
    
    
    </div>
    <div class="lightmode2">
    
    </div>