<!-----------sidebar--------------->
<div class="sidebar">
    <div class="shortcut-links">
        <a routerLink="/home"> <img src="/assets/img/home.png">
            <p>home</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/explore.png">
            <p>Explore</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/subscriprion.png">
            <p>Subscriprion</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/library.png">
            <p>Library</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/history.png">
            <p>History</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/playlist.png">
            <p>Playlist</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/messages.png">
            <p>Messages</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/show-more.png">
            <p>Show More</p>
        </a>
        <hr>
    </div>
    <div class="subscribed-list">
        <h3>Subscribed</h3>
        <a routerLink="/home"> <img src="/assets/img/jhon.jpg">
            <p>Jhon clark</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/simon.png">
            <p>simone barker</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/tom.png">
            <p>Subscriprion</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/Jack.png">
            <p>jack peter</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/megan.png">
            <p>megan cruse</p>
        </a>
        <a routerLink="/home"> <img src="/assets/img/cameron.png">
            <p>cameron hardy</p>
        </a>

    </div>
</div>