<!---------------------main--------------------->
<div class="container">
  <div class="banner">
    <img src="/assets/img/banner.png">
  </div>
  <div class="list-container">
    <div class="vid-list">
      <a routerLink="/ربنا-انك-جامع-الناس"> <img src="/assets/img/dark-sea2.jpg" class="thumbnail"> </a>
      <div class="flex-nav">
        <img src="/assets/img/artworks-fSWuEsOX4K2jmuGG-CdG2fw-t500x500.jpg">
        <div class="vid-info">
          <a routerLink="/ربنا-انك-جامع-الناس">ربنا إنك جامع الناس ليوم لا ريب فيه ..} - عبدالرحمن مسعد ❣️ </a>
          <p>we hope you enjoyed with vidtube</p>
          <p>15k Views &bull; 2 days</p>
        </div>
      </div>
    </div>
    <div class="vid-list">
      <a routerLink="/يا-عبادي-الذين-امنو-ان-ارضي-واسعه"> <img src="/assets/img/sddefault.jpg" class="thumbnail"> </a>
      <div class="flex-nav">
        <img src="/assets/img/artworks-fSWuEsOX4K2jmuGG-CdG2fw-t500x500.jpg">
        <div class="vid-info">
          <a routerLink="/يا-عبادي-الذين-امنو-ان-ارضي-واسعه">يا عِبادِيَ الَّذينَ آمَنوا إِنَّ أَرضي واسِعَةٌ فَإِيّايَ فَاعبُدونِ - عبد الرحمن مسعد </a>
          <p>we hope you enjoyed with vidtube</p>
          <p>15k Views &bull; 2 days</p>
        </div>
      </div>
    </div>
    <div class="vid-list">
      <a routerLink="/واصبر-علي-ما-يقولون"> <img src="/assets/img/EUZjPRiXYAIXjQ6.jpg" class="thumbnail"> </a>
      <div class="flex-nav">
        <img src="/assets/img/artworks-fSWuEsOX4K2jmuGG-CdG2fw-t500x500.jpg">
        <div class="vid-info">
          <a routerLink="/واصبر-علي-ما-يقولون">واصبر على ما يقولون واهجرهم هجراً جميلا </a>
          <p>we hope you enjoyed with vidtube</p>
          <p>15k Views &bull; 2 days</p>
        </div>
      </div>
    </div>
    <div class="vid-list">
      <a routerLink="/لا-تحزن-ان-الله-معنا"> <img src="/assets/img/maxresdefault.jpg" class="thumbnail"> </a>
      <div class="flex-nav">
        <img src="/assets/img/artworks-fSWuEsOX4K2jmuGG-CdG2fw-t500x500.jpg">
        <div class="vid-info">
          <a routerLink="/لا-تحزن-ان-الله-معنا">لاتحزن ان الله معنا | احدث تلاوات القارئ عبدالرحمن مسعد #الا_رسول_الله </a>
          <p>we hope you enjoyed with vidtube</p>
          <p>15k Views &bull; 2 days</p>
        </div>
      </div>
    </div>
    <div class="vid-list">
      <a routerLink="/سوره-العنكبوت-كامله"> <img src="/assets/img/hqdefault.png" class="thumbnail"> </a>
      <div class="flex-nav">
        <img src="/assets/img/artworks-fSWuEsOX4K2jmuGG-CdG2fw-t500x500.jpg">
        <div class="vid-info">
          <a routerLink="/سوره-العنكبوت-كامله">سورة العنكبوت كاملة عبدالرحمن مسعد صوت عذب | HD | </a>
          <p>we hope you enjoyed with vidtube</p>
          <p>15k Views &bull; 2 days</p>
        </div>
      </div>
    </div>
    <div class="vid-list">
      <a routerLink="/أفرأيت-الذي-كفر-باياتنا"> <img src="/assets/img/222.png" class="thumbnail"> </a>
      <div class="flex-nav">
        <img src="/assets/img/artworks-fSWuEsOX4K2jmuGG-CdG2fw-t500x500.jpg">
        <div class="vid-info">
          <a routerLink="/أفرأيت-الذي-كفر-باياتنا">عبد الرحمن مسعد. ( أفرأيت الذي كفر بآياتنا وقال لأوتين مالا وولدا)
          </a>
          <p>we hope you enjoyed with vidtube</p>
          <p>15k Views &bull; 2 days</p>
        </div>
      </div>
    </div>
    <div class="vid-list">
      <a routerLink="/سوره-المؤمنون"> <img src="/assets/img/3333.jpg" class="thumbnail"> </a>
      <div class="flex-nav">
        <img src="/assets/img/artworks-fSWuEsOX4K2jmuGG-CdG2fw-t500x500.jpg">
        <div class="vid-info">
          <a routerLink="/سوره-المؤمنون">من روائع تلاوات القارئ عبدالرحمن مسعد | ما تيسر من سورة المؤمنون | Surat
            Al-Mu'minūn</a>
          <p>we hope you enjoyed with vidtube</p>
          <p>15k Views &bull; 2 days</p>
        </div>
      </div>
    </div>
  </div>
</div>
